.Sign_up {
    background-color: #F9F9F9;
    height: auto;
    align-items: center;
    .sign_row {

        .sign_col1 {
            margin: auto;
            justify-items: center;
            vertical-align: middle;
            padding-top: 3%;
            padding-left: 10%;
            
            .name_heading {
                margin-bottom: 25px;

                .ic_icon {
                    color: #775DA6;
                    margin-right: 6px;
                    width: 50px;
                    height: 50px;
                }
                .name {
                    font-size: 40px;
                    font-weight: 500;
                }
            }
            .welcome_back {

                h2 {
                    font-size: 45px;
                    font-weight: bold;
                }
            }
            .text {
                margin-top: 25px;
                color: #646464;
            }
        }
        .sign_col2 {
            padding-top: 1%;
            padding-right: 2%;
            margin: auto;
            
            .sign_form {
                border-radius: 10px;
                width: 450px;
                padding: 5px 10px;
                .sign_card_body {
                    
                    h2, p {
                        font-weight: 500;
                    }
                    .signup_link {
                        color: #775DA6;
                        font-weight: 500;
                    }
                    
                    .card_form_group {
                        margin-top: 15px;
                        margin-bottom: 5px;
                        .form-control {
                            width: 98%;
                            background-color: white;
                            border: 0px;
                            padding: 12px;
                            box-shadow: -2px 1px 13px -4px rgba(0,0,0,0.75);
                            -webkit-box-shadow: -2px 1px 13px -4px rgba(0,0,0,0.75);
                            -moz-box-shadow: -2px 1px 13px -4px rgba(0,0,0,0.75);
                        }
                        .form-control:focus{
                            border: none;
                        }
                    }

                    .card_form_group1 {
                            margin-top: 25px;
                            margin-bottom: 15px;

                        .i_group {
                            display: flex;
                            align-items: center;
                            vertical-align: middle;
                            width: 98%;
                            border: 0;
                            border-radius: 8px;
                            box-shadow: -2px 1px 13px -4px rgba(0,0,0,0.75);
                            -webkit-box-shadow: -2px 1px 13px -4px rgba(0,0,0,0.75);
                            -moz-box-shadow: -2px 1px 13px -4px rgba(0,0,0,0.75);

                            .form-control {
                                width: 90%;
                                border: 0px;
                                padding: 12px;
                                border-right: 0px;
                            }

                            .eye {
                                margin: 10px;
                                color: grey
                            }
                        }
                    }
                    .f_password {
                        color: #775DA6;
                        font-weight: 500;
                        text-decoration: none;
                    }

                    .form_submit_btn {
                        margin-top: 10px;
                        border-radius: 10px;
                        padding: 12px;
                        width: 100%;
                        background-color: #775DA6;
                        color: white;
                    }

                    .line {
                        display: flex;
                        margin: 10px 0px;
                    }

                    .auth-btn {
                        align-items: center;
                        display: flex;
                        justify-content: center;
                        margin-bottom: 10px;

                        .git {
                            background-color: white;
                            padding: 9px;
                            color: black;
                            font-weight: 500;
                            border: 0px;
                            width: 100%;
                        }
                        .git:hover {

                            box-shadow: -2px 1px 13px -4px rgba(0,0,0,0.75);
                            -webkit-box-shadow: -2px 1px 13px -4px rgba(0,0,0,0.75);
                            -moz-box-shadow: -2px 1px 13px -4px rgba(0,0,0,0.75);
                        }
                    }
                    .c_write {
                        color: grey;
                        
                        .c_color {
                            color: #775DA6;
                        }
                    }
                }

            }
        }
        @media (max-width: 767px) {
            .sign_col1 {
                display: flex;
                justify-content: center;
            }
            .sign_col2 {
                margin-top: 30px;
                justify-content: center;
                display: flex;
            }
        }
    }
}

