.side_nav {
    background-color: #F9F9F9;
    width: 300px;
    height: 100vh;
    padding: 15px;

    .brand_heading {
        display: flex;
        align-items: center;
        margin-top: 20px;

        .brand {
            margin-left: 9px;
        }
    }

    .user_socialmedia_accordion {
        border: 0px;
        background-color: #fff;
        margin: 30px 0px 0px 20px;
        
        .user_social {
            display: flex;
            align-items: center;
            padding: 15px;
            
            .user_mail {
                display: flex;
                align-items: center;
                width: 100%;

                p {
                    font-weight: 500;

                    .instagram {
                        color: grey;
                    }
                }

                .forwar_bacward_icons {
                    margin-left: auto;
                }
            }
        }
        .medias {
            list-style: none;

            li {
                margin-top: 8px;
            }
        }
    }
    .navigation_links {
        margin-top: 20px;
        margin-bottom: 40px;
        .dash {
            text-decoration: none;
            color: #775DA6;

            .lists {
                list-style: none;
                padding: 10px 15px;

                &:hover {
                    background-color: #F1F5FE;
                    border-radius: 15px;
                }
            }

        }
    }
    
    .navigation_links1 {
        margin-top: 20px;
        .dash {
            text-decoration: none;
            color: #775DA6;

            .lists {
                list-style: none;
                padding: 10px 15px;

                &:hover {
                    background-color: #F1F5FE;
                    border-radius: 15px;
                }
            }

        }
    }
}
