.Dashboard {
    display: flex;
    font-size: 20px;

    .sideBar {
        position: fixed;
        z-index: 100;
    }
    .bd {
        flex: 7;
        margin-left: 300px;
        background-color: #F1F8FF;

        .col1 {

            .user_numbers {
                .card-card {
                    border: 0px;
                    .body_B {
                    
                        .head {
                            display: flex;
                            align-items: center;
                            width: 100%;

                            .head_text {
                                margin-right: auto;
                                font-size: 15px;
                                font-weight: 500;
                                color:  #363b64;
                            }
                        }
                        .stat {
                            font-size: 1em;
                            font-weight: 800;
                            color:  #363b64;
                        }
                        .graph {
                            color: #567EF7;
                            font-weight: 700;
                            font-size: 15px;

                            .icon_bg {
                                background-color: #E4EAFE;
                            }
                        }
                        .graph1 {
                            color: #ED6A6A;
                            font-weight: 700;
                            font-size: 15px;
                            
                            .icon_bg1 {
                                background-color: #FCE4E4;
                            }

                        }
                    }
                }
                
            }
        }
        .main_stat_card {
            margin-top: 20px;
            border: 0px;
            border-radius: 20px;

            .main_stat_heading {
                font-size: 25px;
                color:#363b64;
                font-weight: 500;
            };

            .subheading {
                display: flex;
                align-items: center;

                .avg_like {
                    display: flex;
                    margin-right: 15px;

                    .avg_like_icon, .avg_comment_icon, .avg_share_icon {
                        width: 30px;
                        height: 30px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 50%;
                        background-color: #ECDEFF;
                        margin-right: 8px;

                        .like_icon {
                            color: #A158FF;
                        }
                    }
                    .num {
                        color:#363b64;
                        font-weight: 500;
                        span {
                            color: #6B8EF8;
                        }
                        .avg_text {
                            font-weight: 400;
                            color: #999999;
                        }
                    }
                    .avg_comment_icon {
                        background-color: #FFF3E0;

                        .comment_icon {
                            color: #E2B931;
                        }
                    }
                    .comment_num {
                        color:#363b64;
                        font-weight: 500;
                        span {
                            color: #EB5757;
                        }
                        .avg_comment {
                            font-weight: 400;
                            color: #999999;
                        }
                    }
                    .avg_share_icon {
                        background-color: #D3E7FF;

                        .share_icon {
                            color: #567EF7;
                        }
                    }
                    .share_num {
                        color:#363b64;
                        font-weight: 500;

                        span {
                            color: #6B8EF8;
                        }
                        .avg_share {
                            font-weight: 400;
                            color: #999999;
                        }
                    }
                }
            }
        }
        .col2 {

            .card-card1 {
                border: 0px;
                background-color: #FFFFFF;
                padding: 0px 40px;
                border-radius: 10px;

                .body1 {
                    padding: 5px;
                    display: flex;
                    justify-content: center;

                    .stat_text {
                        font-weight: 600;
                        font-size: 26px;
                        color:  #363b64;
                        margin-top: 20px;
                    }
                    .chart_stat {
                        margin-left: 110px;
                        margin-top: -190px;
                        position: absolute;

                        .chart_text {
                            text-align: center;
                            font-size: 30px;
                            color:  #363b64;
                            font-weight: 700;
                        }
                        .chart_text1 {
                            color:#567EF7;

                            .icon_bg1 {
                                background-color: #E4EAFE;
                                padding: 3px;
                            }
                            .stat_stat {
                                font-weight: 500;
                                font-size: 17px;
                            }
                        }
                    }
                    .male_stat {
                        margin-left: 20px;
                        margin-top: -120px;
                        z-index: 10;
                        background-color: white;
                        position: absolute;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 80px;
                        height: 80px;
                        border-radius: 50%;
                        box-shadow: -1px -1px 6px 0px rgba(0,0,0,0.75);
                        -webkit-box-shadow: -1px -1px 6px 0px rgba(0,0,0,0.75);
                        -moz-box-shadow: -1px -1px 6px 0px rgba(0,0,0,0.75);
                    }
                    .stat_type {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin-top: -20px;

                        .male {
                            display: flex;
                            align-items: center;
                            margin-right: 20px;

                            .male_color {
                                width: 20px;
                                height: 20px;
                                background-color: #8BBFFD;
                                border-radius: 50%;
                                margin-right: 9px;
                            }
                            .male_text {
                                display: flex;
                                margin-top: 15px;
                                font-size: 15px;
                            }
                            .female_color {
                                background-color: #FFC152;
                                width: 20px;
                                height: 20px;
                                border-radius: 50%;
                                margin-right: 9px;
                            }
                        }
                    }
                }
            }
        }
    }
    @media (min-width: 768px) and (max-width: 979px) {
        .user_numbers {
            width: 100%;
        }
        .col2 {
            margin-top: 20px;
            .card-card1 {

                .body1 {

                    .stat_text {
                        text-align: center;
                        margin-bottom: 10px;
                    }
                    .btm_text {
                        text-align: center;
                        margin-top: 15px;
                        margin-bottom: 10px;
                    }
                }
            }
        }
    }
    @media (max-width: 767px) {
        .user_numbers {
            margin: 5px;
        }
        .col2 {
            margin-top: 20px;
            .card-card1 {

                .body1 {

                    .stat_text {
                        text-align: center;
                        margin-bottom: 10px;
                    }
                    .btm_text {
                        text-align: center;
                        margin-top: 15px;
                        margin-bottom: 10px;
                    }
                }
            }
        }
    }
}
